/* reset */
body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

input, textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

body {
    font-size: 12px;
    font-family: "Î¢ÈíÑÅºÚ";
    font-family: "Microsoft YaHei";
}
/* end reset */

.restwrap {
    zoom: 1;
}
.restwrap:after {
    clear: both;
    content: '';
    display: block;
}

html {
    /*min-width: 1300px;*/
    /*background: #eae6e3;*/
    overflow: hidden;
}

.header {
    width: 100%;
    background-color: #000923;
}

.header_wrap {
    /*width: 1500px;*/
    /*min-width: 900px;*/
    padding-left:1.6%;
    height: 90px;
    /*margin: 0 auto;*/
    position: relative;
}

.logo {
    margin-top: 6px;
    /*width: 422px;*/
    /*width: 22%;*/
    height: 80px;
    color: #ffffff;
    position: absolute;
}

.logo img {
    width: 100%;
}

.language {
    width: 220px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    margin: 0 auto;
    padding-top: 18px;
    position: relative;
}

.language:hover, .language_list li:hover {
    cursor: pointer;
}

.language i {
    width: 10px;
    height: 5px;
    display: inline-block;
    background: url(../images/icon_sx.png) no-repeat -10px 0;

}

.language_list {
    width: 100%;
    /*top: 16px;*/
    /*top: 34px;*/
    top: 50px;
    left: -10px;
    color: #666;
    z-index: 9999;
    display: none;
    position: absolute;
}

/*.language:hover .language_list,.language_list:hover {*/
/*display: block;*/
/*}*/
.language_list ul {
    width: 90px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: none;
    box-shadow: 0 1px 1px gray;
    -o-box-shadow: 0 1px 1px gray;
    -moz-box-shadow: 0 1px 1px gray;
    -webkit-box-shadow: 0 1px 1px gray;
}

.language_list li {
    margin: 4px auto;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 26px;
    cursor: pointer;

}

.language_list p {
    width: 12px;
    height: 6px;
    /*top: -6px;*/
    /*left: 50px;*/
    /*position: absolute;*/
    margin: 10px 0 -2px 50px;
    background: url(../images/ts_sj.png)
}

.login {
    /*width: 550px;*/
    width: 30%;
    min-width: 420px;
    right: 200px;
    top: 18px;
    clear: both;
    position: absolute;
}

.login_submit, .login_pwd, .login_name {
    float: right;
    position: relative;
    width: 30%;
    height: 70%;
    height: 30px;
    margin: 0 3px;
}

.login_regist {
    height: 70%;
    float: right;
    padding: 9px 0 0 2px;
}

.login_submit {
    width: 12%;
    min-width: 40px;
    height: 32px;
}
.login_submit input[type=button],.forget_pwd a,.regist,.language_txt {
    font-weight: bold;
}



.login_auto, .forget_pwd {
    left: 0;
    top: 100%;
    color: #fff;
    position: absolute;
    padding-top: 10px;
}

.login_auto p {
    top: 12px;
    left: 0;
    width: 10px;
    height: 10px;
    position: absolute;
}

.auto_login_txt {
    margin-left: 16px;
    font-weight: bold;
}

.login a, .login label, .login input[type=button] {
    color: #fff;
}

.login input[type=text] {
    /*width: 182px;*/
    width: 100%;
    height: 100%;
    /*min-width: 150px;*/
    height: 30px;
}

.login input[type=button] {
    /*width: 80px;*/
    width: 100%;
    height: 100%;
    border: none;
    margin: 0 5px 8px 0;
    background: #244091;
    cursor: pointer;
}

.login label {
    /*margin-right: 100px;*/
}

.login_help {
    clear: both;
    position: relative;
}

.login_help_l, .login_help_r {
    width: 33%;
    height: 30px;
    text-align: left;
    margin-right: 4px;
    float: right;
    position: relative;
}

.login_help_l {
    width: 32%;
}

.login_help_r {
    width: 44%;
}

.login_help input[type=checkbox] {
    left: 0;
    top: 2px;
    position: absolute;
}

.login_help label {
    margin-left: 18px;
}

.loginwith {
    width: 230px;
    height: 30px;
    top: 66px;
    right: 190px;
    color: #fff;
    text-align: right;
    position: absolute;

}

.loginwith p {
    float: right;
    font-weight: bold;
}

.loginwith a {
    width: 18px;
    height: 18px;
    float: right;
    margin-right: 1px;
}

.loginwith a img {
    width: 100%;
    height: 100%;
    display: block;
}
/*.m_moreloginsty{ position: relative; z-index: 999; text-align: left; display: none;}*/
 .inner{display:none;text-align:left;position: absolute; right: 200px; top:86px;background: #fff; border: 1px solid #ddd; width: 220px; padding:0 10px;z-index:99999;}
.inner .mt{line-height: 32px; border-bottom: 1px solid #ddd;}
.inner .mc{padding:10px 0;}
.inner .mc ul li{float: left; width: 45%; padding-bottom: 10px;}
.inner .mc ul li img { width:28px; height:28px; vertical-align:middle; margin-left:3px; margin-right: 6px;}
.inner.share .inner{right: 0; }

.help {
    /*width: 208px;*/
    width: 33%;
    min-width: 170px;
    height: 38px;
    color: #fff;
    /*right: -208px;*/
    left: 100%;
    top: 0;
    font-size: 13px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    /*background: url(../images/help_bg.png) no-repeat left top;*/
}

.help img {
    width: 100%;
}

.main {
    /*min-width: 900px;*/
    /*padding: 0 200px;*/
    /*margin: 0 auto;*/
    position: relative;
}

.banner {
    /*width: 1500px;*/
    /*height: 300px;*/
    margin: 0 auto;
}

.content {
    /*width: 1500px;*/
    /*margin: 0 auto;*/
}

.sect_img {
    width: 100%;
    overflow: hidden;
    margin:0.4% 0;
}

.sect_img li {
    /*width: 33.33%;*/
    width: 33%;
    margin-right:0.5%;
    /*height: auto;*/
    float: left;
    overflow: hidden;
    position: relative;
   background: #eae6e3;
}
.sect_img li.sect_img3 {
    margin-right:0;
}
.sect_img1 .sect_img1_top,.sect_img1 .sect_img1_bottom {
    margin:0 auto;
}
.sect_img1 .sect_img1_top img {
    width: 100%;
}
.sect_img1 .sect_img1_bottom,.sect_img1 .sect_img1_top {
    width: 69%;
    text-align: center;
}
.sect_img1 .sect_img1_bottom img {
    width: 27%;
}
.sect_img2 img {
    width: 69%;
    /*margin-top:-2%;*/
}
.sect_img3 img {
    width: 69%;
}
.sect_img_item {
    display: block;
    margin:auto;
}

.set_img1_bts {
    width: 100%;
    left: 0;
    bottom: 26px;
    text-align: center;
    position: absolute;
}

.set_img1_bts img {
    width: 30%;
}

.sect_img2_a {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    position: absolute;
}

/*.sect_img li .jump {*/
/*top: 0;*/
/*left: 50%;*/
/*/!*width: 100%;*!/*/
/*margin-left: -245px;*/
/*position: absolute;*/
/*}*/
/*.sect_img li .jump img{*/
/*/!*width: 100%;*!/*/
/*}*/

.sect_img li .jump_over {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 9999;
}

.footer {
    text-align: center;
}

.footer_marke {
    width: 50%;
}

/*.sitemark {*/
/*height: 40px;*/
/*font-weight: bold;*/
/*font-size: 30px;*/
/*text-align: center;*/
/*}*/

.Copyright {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin: 18px 0 28px;
}

.language_txt {
    font-family: 'Î¢ÈíÑÅºÚ';
}